<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Upload Image</title>
  </head>
  <body>
    <div>
      <h1>Uploaded Images</h1>
      <div class="images" style="display: flex; margin: auto "></div>

      <form id ="submit" action="#" method="POST" enctype="multipart/form-data">
        <input id="upload" type="file" name="file" multiple />
        <button>Submit</button>
      </form>
    </div>
    <script type="text/javascript">

      const files = [];

      // function handler(event) {
      //   event.preventDefault();
      //   files.forEach(file => sendFile(file));
      // }
      //
      // sendFile = function(file) {
      //   const formData = new FormData();
      //   const request = new XMLHttpRequest();
      //
      //   formData.set("file", file);
      //   request.open("POST", "{{url_for('index')}}");
      //   request.send(formData);
      // };
      // document.getElementById("submit").addEventListener("submit",(event)=>{
      //   event.preventDefault();
      //   files.forEach(file => sendFile(file));
      //
      // });

      document.getElementById("upload").addEventListener("change", event => {
        for (let i = 0; i < event.target.files.length; i++) {
          files.push(event.target.files[i]);
        }
        const imageClass = document.querySelector(".images");
        const imageTag = document.createElement("img");
        imageTag.src = URL.createObjectURL(event.target.files[0]);
        imageTag.setAttribute("style", "width:500px; height:500px; margin:20px");
        imageClass.appendChild(imageTag);
      });
    </script>
  </body>
</html>
