<!DOCTYPE html>
<html lang="en">
  <head>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
      <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="UTF-8" />
    <title>Upload Image</title>
  </head>
  <body>

     <div class="container py-5">

    <!-- For demo purpose -->
    <header class="text-white text-center">
        <h1 class="display-4">Image Conversion</h1>
        <p class="lead mb-0">Convert Images To Cartoon</p>
        <img src="https://res.cloudinary.com/mhmd/image/upload/v1564991372/image_pxlho1.svg" alt="" width="150" class="mb-4">
    </header>


    <div class="row py-4">
        <div class="col-lg-6 mx-auto">

            <!-- Upload image input-->
    <form id ="submit" action="#" method="POST" enctype="multipart/form-data">
            <div class="input-group mb-3 px-2 py-2 rounded-pill bg-white shadow-sm">
<!--                <input id="upload" type="file" name="file" onchange="readURL(this);" class="form-control border-0" multiple/>-->
                <input id="upload" type="file" name="file" class="form-control border-0" multiple/>
                <label id="upload-label" for="upload" class="font-weight-light text-muted">Choose file</label>
                <div class="input-group-append">
                    <label for="upload" class="btn btn-light m-0 rounded-pill px-4"> <i class="fa fa-cloud-upload mr-2 text-muted"></i><small class="text-uppercase font-weight-bold text-muted">Choose file</small></label>
                </div>
            </div>

            <!-- Uploaded image area-->
            <p class="font-italic text-white text-center">The image uploaded will be rendered inside the box below.</p>
            <div class="image-area mt-4"><img id="imageResult" src="#" alt="" class="img-fluid rounded shadow-sm mx-auto d-block"></div>
        <div class="image-area mt-4"><img id="imageResult2" src="#" alt="" class="img-fluid rounded shadow-sm mx-auto d-block"></div>
<!--            <div><button class="btns">Submit</button></div>-->
        <div><button class="btns">Convert Image</button></div>
      </form>
<!--            <p class="font-italic text-white text-center">The cartooned image result will be rendered inside the box below.</p>-->
<!--            <div id="aftersubmit" class="image-area mt-4">-->
<!--            <img class="result-img img-fluid rounded shadow-sm mx-auto d-block" src="{{image}}";>-->
<!--            </div>-->

        </div>
    </div>
</div>

    <script type="text/javascript">


/*  ==========================================
    SHOW UPLOADED IMAGE
* ========================================== */
// function readURL(input) {
//     if (input.files && input.files[0]) {
//         var reader = new FileReader();
//
//         reader.onload = function (e) {
//             $('#imageResult')
//                 .attr('src', e.target.result);
//         };
//         reader.readAsDataURL(input.files[0]);
//     }
// }
//
// $(function () {
//     $('#upload').on('change', function () {
//         readURL(input);
//     });
// });

// const store =[]
// function readURL(input) {
//     if (input.files && input.files[0]) {
        // for(file of input.files){
        //     store.push(file)
        // }



    //     console.log(input.files)
    //     var reader = new FileReader();
    //
    //     reader.onload = function (e) {
    //         store.push(e.target.result);
    //         $('#imageResult')
    //             .attr('src', store[0]);
    //         // console.log(store)
    //         $('#imageResult1')
    //             .attr('src', store[1]);
    //         // console.log(store)
    //     };
    //
    //     if (input.files.length>1){
    //         for (var i = 0; i < input.files.length; i++) {
    // 	 setTimeout(reader.readAsDataURL(input.files[i]),3000)
    // }



        // }

        // input.files.forEach((files)=>{
        //     reader.readAsDataURL(files);
        // })
        // reader.readAsDataURL(input.files[0]);
    // }
// }

// $(function () {
//     $('#upload').on('change', function () {
//         readURL(input);
//     });
// });
var fileList = [];
var fileInput = document.getElementById('upload');

fileInput.addEventListener('change', function (evnt) {
  	for (var i = 0; i < fileInput.files.length; i++) {
    	fileList.push(fileInput.files[i]);
    	// console.log(fileInput.files[i]);
    	// document.getElementById("imageResult").src=fileInput.files[i].name

    }
  });

fileCatcher = document.getElementById("submit");
  fileCatcher.addEventListener('submit', function (evnt) {
  	evnt.preventDefault();
    fileList.forEach(function (file) {
    	sendFile(file);
    });
  });

sendFile = function (file) {
  	var formData = new FormData();
    var request = new XMLHttpRequest();

    formData.set('file', file);
    request.open("POST", "{{ url_for('multiple') }}");
    request.send(formData);
  };
/*  ==========================================
    SHOW UPLOADED IMAGE NAME
* ========================================== */
// var input = document.getElementById( 'upload' );
// var infoArea = document.getElementById( 'upload-label' );
//
// input.addEventListener( 'change', showFileName );
// function showFileName( event ) {
//   var input = event.srcElement;
//   var fileName = input.files[0].name;
//   infoArea.textContent = 'File name: ' + fileName;
// }
    </script>
  </body>
</html>
